.App {
  font-family: Roboto;
  text-align: center;
}

.image_logo_box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.homepage_text {
  margin-right: 40px;
  margin-left: 40px;
}

.mylink_logo {
  margin-right: 40px;
}

.mylink {
  margin-top: 35px;
  margin-right: 40px;
}

.mylinks {
  display: flex;
}

.mylink_link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.homepage_text {
  height: 100vh;/* Augmente la hauteur à 100% de la hauteur de la fenêtre */
  width: 100vw; /* Augmente la largeur à 100% de la largeur de la fenêtre */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/public/images/Five-Guys-Frontpage-Image.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(0, 0, 0);
}

.mycard {
  width: 100px;
  height: 100px;
  margin: 25px;
}

.cardbox {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  border: 10px solid red;
}

.mycard:hover {
  background-color: black;
  transform: scale(1.2);
  transition: 0.5s;
}
