.App {
  font-family: Roboto;
  text-align: center;
}

.image_logo_box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.homepage_text {
  margin-right: 40px;
  margin-left: 40px;
}

.mylink_logo {
  margin-right: 40px;
}

.mylink {
  margin-right: 40px;
}

.mylinks {
  display: flex;
}

.mylink_link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.homepage_text {
  height: 100vh;/* Augmente la hauteur à 100% de la hauteur de la fenêtre */
  width: 100vw; /* Augmente la largeur à 100% de la largeur de la fenêtre */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/public/images/Five-Guys-Frontpage-Image.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(159, 0, 0);
}