.App {
  font-family: Roboto;
  text-align: center;
}

.image_logo_box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.homepage_text {
  margin-right: 40px;
  margin-left: 40px;
}

.mylink_logo {
  margin-right: 40px;
}

.mylink {
  margin-right: 40px;
}

.mylinks {
  display: flex;
}

.mylink_link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

